<table >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="playerInfo">
      <td>{{playerInfo.firstname}} {{playerInfo.lastname}} {{playerInfo.birdthdate}}</td>
    </tr>
  </tbody>
</table>
